@use "../breakpoints"

.recipe-card
  background-color: var(--bg-elevated)
  border-radius: 5px
  padding: 1rem
  display: flex
  flex-direction: column
  box-shadow: 3px 3px 5px var(--bg-deep)
  width: 12rem
  @media (max-width: breakpoints.$sm)
    width: 8rem
    padding: .5rem

  .recipe-header
    h3
      margin: 0 0 .5rem 0
      text-transform: capitalize
      font-size: 1rem
      letter-spacing: .05em

  .recipe-section
    align-self: stretch
    display: flex
    flex-direction: column
    gap: .5rem
    margin-bottom: .8rem

    h4
      margin: 0
      font-size: .75rem
      text-transform: uppercase
      color: var(--text-secondary)
      letter-spacing: .08em
      text-shadow: 0 0 1px var(--bg-main)

    ul, ol
      list-style: none
      margin: 0
      padding: 0
      text-align: left
      li
        font-size: .85rem
        line-height: 1.4
        .highlight
          color: var(--text-secondary)
          text-shadow: 0 0 1px var(--bg-main)

    ul
      display: flex
      flex-direction: column

      li
        display: flex
        justify-content: space-between

        .name
          font-weight: 500
