:root
  --eggshell: #f4f1deff
  --burnt-peach: #e07a5fff
  --twilight-indigo: #3d405bff
  --muted-teal: #81b29aff
  --apricot-cream: #f2cc8fff


*
  background-color: var(--twilight-indigo)
  color: var(--burnt-peach)